.cataBg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
/* className="d-flex flex-column gap-sm-3 gap-2 xs:max-w-[170px] max-w-[124px] rounded-5  lg:mb-6 md:mb-5 sm:mb-4 mb-[10px]" */
.cataMovieCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-width: 170px; */
  flex: 1 1 10rem;
  align-items: center;
}

.btn {
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-10px);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3rem 0;
}
.search input {
  width: 47%;
  max-width: 47%;
  background-color: #514f4f;
  border: none;
  outline: none;
  color: #ccc;
  padding: 0.5rem;
  border-radius: 0.8rem;
  position: relative;
}
.search input::placeholder {
  color: #ccc;
}
.search input:focus {
  background: none;
  background-color: #514f4f;
  color: #ccc;
}

.search button {
  position: absolute;
  border: 0;
  background: 0;
  font-size: 21px;
  color: red;
  right: 34%;
}

/* media query */

@media (max-width: 576px) {
  .search input {
    width: 80%;
    max-width: 80%;
  }
  .search button {
    right: 17%;
  }
}
